@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html{
	font-size: 93.75%;
}

body{
	background: rgb(238, 238, 238);
}

.container{
	width: min(90vw);
	margin: auto;
}

/********************************************** Header ************************************************/

header{
	background: #1489ff;
	padding: 7rem 0 12rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo{
	color: #fff;
	font-weight: 900;
	font-variant: all-petite-caps;
	font-size: 55px;
}

/********************************************** Balence ************************************************/

#balance{
	margin-top: -7rem;
}

#balance h2{
	color: #fff;
	margin: 0;
}

h2{
	margin-top: 3.2rem;
	margin-bottom: .8rem;
	font-weight: normal;
}

/********************************************** Links & Buttons ************************************************/

a{
	color: #033b74b0;
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
}

a:hover{
	color: #033c74;
}

.button.new{
	display: inline-block;
	margin-bottom: .8rem;
}

.form__btn {
	border: none;
	border-radius: 1rem;
	font-size: 1.3rem;
	width: 15rem;
	height: 5rem;
}

.save {
	background: rgb(71, 120, 255);
	color: #fff;
	opacity: 0.8;
	margin: 5px;
	transition: opacity 0.4s;
}

.save:hover {
	opacity: 1;
}

.cancel {
	border: solid 1px red;
	color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	opacity: 0.8;
}

.cancel:hover {
	border: solid 2px red;
	color: red;
	font-weight: 500;
	opacity: 1;
}

/********************************************** Cards ************************************************/

.card{
	background: #fff;
	padding: 1.5rem 2rem;
	border-radius: .25rem;
	margin-bottom: 2rem;
}

.card h3{
	font-weight: normal;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card p{
	font-size: 2rem;
	line-height: 3rem;
	margin-top: .7rem;
}

.card.blue{
	color: #fff;
	background-color: rgb(64 114 253);
}

/********************************************** Tables ************************************************/

#data-table{
	width: 100%;
	border-spacing: 0 .5rem;

}

.box__table::-webkit-scrollbar-thumb {
	width: 6px;
	background: #033c74;
	border-radius: 2rem;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar {
	width: 6px;
}

.box__table{
	display: block;
	overflow-x: auto;
}

table thead th{
	font-weight: normal;
	padding: 1rem 2rem;
	text-align: left;
}

table tbody tr{
	opacity: 0.7;
}

table tbody tr:hover{
	opacity: 1;
}

table td, th{
	background: #fff;
}

table tbody td{
	font-size: .89rem;
	padding: 1rem 2rem;
}

td.income{
	color: #12a454;
}
td.expense{
	color: #f12424;
}

#data-table thead tr th:first-child,
#data-table tbody tr td:first-child {
	border-radius: .7rem 0 0 .7rem;
}

table tr th:last-child,
table tr td:last-child {
	border-radius: 0 .7rem .7rem 0;
}

/********************************************** Modal ************************************************/

.modal__overlay {
	background: rgba(0, 0, 0, 0.568);
	display: flex;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
}

.modal__overlay .modal {
	background: #fff;
	border-radius: 1rem;
	width: 90%;
	padding: 2rem;
	margin: auto;
	max-width: 500px;
}

.modal__overlay .modal h2 {
	font-size: x-large;
	margin-top: auto;
	color: rgb(36, 36, 36);
}

.modal__overlay .modal form .inp__group {
	margin: 1rem 0 2rem;
}

.modal__overlay .modal form .inp__group label {
	margin-bottom: 5rem;
}

.modal__overlay .modal form .inp__group input {
	background: #fff;
	border: solid 1px rgb(106, 145, 255);
	border-radius: 1rem;
	color: rgb(106, 145, 255);
	font-size: 1.2rem;
	padding: 1rem;
	width: 100%;
	margin: auto;
	outline-offset: 0.3rem;
}

.modal__overlay .modal form .inp__group input:nth-child(2), :nth-child(3) {
	margin-top: 0.37rem
}

.modal__overlay .modal form .inp__group input:focus {
	border: transparent;
}

.modal__overlay .modal form .inp__group #date {
	color: rgb(106, 145, 255);
}

.modal__overlay .modal form span {
	color: #0008;
	font-size: 1rem;
}

.modal__overlay .modal form .actions {
	display: flex;
	justify-content: space-around;
}

.modal__overlay.active {
	visibility: visible;
}

/********************************************** Footer ************************************************/

footer{
	text-align: center;
	padding: 1.3rem 0 1.3rem;
	opacity: 0.7;
}

/********************************************** Responsive ************************************************/

@media (min-width: 675px){
	html{
		font-size: 87.5%;
	}

	#balance{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}


	.container {
		width: min(65vw);
		margin: auto;
	}
}